<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us!</h2>
                <hr class="light">
                <p class="text-faded">At Centre for Wildlife and Environment Litigation, our goal is to
 contribute to the knowledge and conservation of India’s unique
 wildlife heritage with innovative research and imaginative solutions.
 We work in a range of wildlife habitats, from coral reefs and tropical
 rain-forests to the high mountains of the Himalaya.
 Here, we strive to understand the survival needs of endangered species
 such as snow leopards,tigers and elephants, as well as equally
 fascinating but lesser-known wildlife such as corals and spiders. Our
 research also addresses human resource-use and its impacts on wild
 species and ecosystems. Using this knowledge of wildlife ecology and
 human society, we design conservation strategies that are
 locally-appropriate. These are implemented in collaboration with local
 communities who depend the most on natural resources, and the
 governments that manage them. While promoting wildlife conservation,
 our programme also strive to safeguard livelihood and development
 options for local communities.
!</p>
                <a href="#" class="btn btn-default btn-xl">Home!</a>
            </div>
        </div>
    </div>
</section>
